/* Layout Media */

@media only screen and (min-width: 1699px) {
  .content-main,
  footer.fixed-bottom {
    left: 255px;
  }
}

/*Extra large 1200px*/

@media only screen and (max-width: 1199px) {
}

/*Large 992px*/

@media only screen and (max-width: 1022px) {
}

/*Medium 768px*/

@media only screen and (max-width: 767px) {
  .btn-mobile {
    display: block;
  }
  .content-main,
  footer.fixed-bottom {
    left: 255px;
  }
  .icon-user-action {
    min-width: 50px;
  }
  .content-main,
  footer.fixed-bottom {
    left: 0;
    width: 100vw;
  }
  .content-main .container {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .nav-main,
  .brand {
    position: absolute;
    max-width: 100vw;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
  }
  .nav-main.opnnav {
    opacity: 1;
    visibility: visible;
  }
  .page_main.login_page .container-fluid {
    max-width: 100vw;
  }
  .header_logo_login {
    max-width: 300px;
  }
}

/*Small 576px*/

@media only screen and (max-width: 575px) {
  header[_ngcontent-xjb-c4] {
    padding-left: 0;
    padding-right: 0;
  }
  header .container-fluid,
  main .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
  }
  .content-main .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .login_box {
    height: 95vh;
    width: 95vw;
    min-width: 95vw;
  }
}

/*Extra small 576px*/

@media only screen and (max-width: 321px) {
}
