/* Layout Media */
@media only screen and (min-width: 1700px) {
	.content-main, footer.fixed-bottom{left: 80px; width: calc(100% - 80px);}
}
@media only screen and (max-width: 1699px) {
	.content-main, footer.fixed-bottom{left: 255px;}
}

/*Extra large 1200px*/
@media only screen and (max-width: 1199px) {
	.content-main, footer.fixed-bottom{left: 255px;}
}

/*Large 992px*/
@media only screen and (max-width: 991px) {
	
}

/*Medium 768px*/
@media only screen and (max-width: 767px) {
	
}

/*Small 576px*/
@media only screen and (max-width: 575px) {
	.content-main, footer.fixed-bottom{left: 80px; width: calc(100% - 80px);}
}

/*Extra small 576px*/
@media only screen and (max-width: 321px) {

}