/* /Actualización de clases existente en el archivo root original/ */
.dash-icon .icon-user-action+* {
    line-height: 17px;
    font-size: 14px;
    padding: 7px 0;
}
/* /Fin/ */


main .container-fluid{padding-left:30px;padding-right:30px;}
.material-icons, .material-icons-outlined{width: 25px;}
.btn .material-icons-outlined, .btn .material-icons{position:relative;}
.btn.new_updates span:before {content: '';width: 12px;height: 12px;background: #bd2130;position: absolute;right: -2px;top: -5px; border-radius:50%; box-shadow:0 0 0 2px #bd213021;}
/* table css */
.content-table > table {
    font-size: 14px;
    border-spacing: 0 2px;
    border-collapse: separate;
}

.content-table > table > tbody > tr {
    box-shadow: inset 4px 0 0 #092f6e;
    border-bottom: 2px solid #ebedef;
    background: #ffffff;
    word-spacing: 2px;
}

.content-table > table > tbody > tr:hover {
    box-shadow: inset 4px 0 0 #092f6e, 0 1px 4px -2px #000, 0 0 0 1px #e2e2e2;
    z-index: 2;
}

.content-table > table > thead > tr > th {
    border: 0;
}


.content-table > table > tbody > tr > td, .content-table > table > tbody > tr > th {
    vertical-align: inherit;
    padding: 6px 12px;
}
span.material-icons-two-tone.text-white {filter: invert(1);}
/* Fin table */

/* Search */
/* .search-filter{max-width: 990px;} */
.search-filter input, .search-filter input:focus, .search-filter select:focus, .search-filter select{outline-color: transparent !important;box-shadow: none;font-weight: 500;color:#444;height: 32px;}
.search-filter select{-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;}
.search-filter input::placeholder{font-weight: 500; font-family: 'Roboto', sans-serif; color:#666;}
.search-filter .col+.col {border-left: 1px solid #e2e2e2;padding-left: 20px;}

/* fin search */

.step_request .col + .col > *:before {
    content: '';
    width: 40px;
    height: 40px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 10px;
    transform: rotate(-45deg);
    left: -70px;
    position: absolute;
    top: 0;
    box-shadow: 5px 5px 20px -14px #002d77a6;
    }   
.step_request .col > *.active {
    color: #092f6e;
    /* border-bottom: 1px solid #092f6e; */
}

.step_request .col > * {
    position: relative;
    color: #868686;
    line-height: 24px;
}