body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.password_block {
  z-index: 2;
  margin: auto;
  width: calc(100% - 255px);
  left: 255px;
  height: 100%;
}
#edit {
  z-index: 2;
}

.card.login_box input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%);
}
/* login css */
.page_main.h-100,
.page_main.h-100 .container-fluid,
.page_main.h-100 .container-fluid > .row {
  min-height: 100vh;
}
.page_main.login_page .container-fluid {
  max-width: 80vw;
  padding: 0;
}
.background_login figure {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}
.background_login figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.register_box {
  width: 100vw;
  min-width: 446;
  max-width: 508px;
}
.login_box {
  width: 100vw;
  min-width: 320px;
  max-width: 400px;
}
h1.h5.d-block.mb-0.text-dark.text-hiddend {
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.background_login figure:before {
  content: "";
  background: linear-gradient(45deg, rgb(0 0 0 / 30%), transparent);
  width: 100%;
  height: 100%;
  position: absolute;
}
/* auth css */
.flt-label {
  position: relative;
  margin-bottom: 1rem;
}

.flt-label input,
.flt-label label {
  height: 3.125rem;
  padding: 0.75rem;
}

.input-error-message {
  color: #dc3545;
  font-size: 11px;
}

.flt-label label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.flt-label input::-webkit-input-placeholder {
  color: transparent;
}

.flt-label input::-moz-placeholder {
  color: transparent;
}

.flt-label input:-ms-input-placeholder {
  color: transparent;
}

.flt-label input::-ms-input-placeholder {
  color: transparent;
}

.flt-label input::placeholder {
  color: transparent;
}

.flt-label input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.flt-label input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.flt-label input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.flt-label input:not(:-moz-placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.flt-label input:not(:-ms-input-placeholder) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.flt-label input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.flt-label input:-webkit-autofill ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .flt-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .flt-label label {
    position: static;
  }

  .flt-label input::-ms-input-placeholder {
    color: #777;
  }
}
a,
a:hover {
  color: #1d2124;
  text-decoration: none;
}
.text-primary {
  color: #1d2124 !important;
}
.text-dark {
  color: #374350 !important;
}
header {
  height: 70px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  position: absolute;
  right: 0;
  left: 0;
}
header .container-fluid {
  padding-left: 24px;
  padding-right: 24px;
}
.header-logo {
  width: 42px;
  height: 25px;
}
header .brand {
  width: 254px;
  background: #272d31;
  display: flex;
  height: 70px;
  padding: 20px 24px;
  vertical-align: middle;
}
img.photo-adaptable {
  object-fit: cover;
  object-position: center;
}
body > main {
  width: 100%;
  min-height: 100vh;
}
.user_photo {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-main {
  width: 254px;
  top: 70px;
  bottom: 0;
  border-right: 1px solid rgb(0 0 0 / 4%);
  display: block;
  padding: 10px 0;
  z-index: 2;
  background: #262c32;
  overflow: auto;
}
.nav-main ul {
  margin: 0;
  padding: 0;
}
.nav-main ul li {
  list-style: none;
}
.nav-main ul li ul {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.nav-main label {
  padding: 12px 24px;
  margin: 0;
  font-size: 11px;
  letter-spacing: 0.8px;
  color: #a7a7a7;
}
li.nav-item {
  position: relative;
  display: flex;
}
li.nav-item.active:after {
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  background: rgb(255 255 255 / 10%);
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  top: 0;
  bottom: 0;
  left: 10px;
  z-index: 1;
}
.nav-main .nav-item-content {
  color: #adb5bd;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 12px 24px;
  font-size: 15px;
  -ms-flex-align: center !important;
  align-items: center !important;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.nav-main .nav-item .nav-item-content:hover,
.nav-main .nav-item.active .nav-item-content,
.nav-main .nav-item ul li a:hover,
.nav-main .nav-item ul li a:hover:not([href]):not([class]),
.nav-main .nav-item ul li a.active {
  color: #f8f9fa;
  text-decoration: none;
}
.nav-main .nav-item-content .material-icons-outlined {
  margin-right: 10px;
  width: 24px;
}

li.nav-item.has-child:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid rgb(172 181 189);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: 21px;
  bottom: 0;
  left: 8px;
  transform: rotate(-90deg);
}
li.nav-item.openNav.has-child:after {
  transform: rotate(0);
  top: 22px;
  left: 6px;
}
.nav-main ul li.openNav ul {
  opacity: 1;
  position: relative;
  visibility: visible;
}
.nav-main ul li ul li a,
.nav-main ul li ul li a:not([href]):not([class]) {
  font-size: 14px;
  display: block;
  padding: 8px 0 8px 0px;
  margin-left: 58px;
  color: #acb5bd;
  cursor: pointer;
}
.user_name .text-primary {
  letter-spacing: 0.3px;
}
header .header-title h1.h5 {
  font-size: 18px;
  margin: 0;
}
.user_name {
  font-weight: 500;
}
.content-main {
  left: 255px;
  top: 70px;
  border-right: 1px solid rgb(0 0 0 / 4%);
  display: block;
  padding: 20px 0 90px 0;
  right: 0;
  overflow: auto;
  width: calc(100% - 255px);
  z-index: 1;
  bottom: 0;
  background: #f6f6f7;
}
.btn-colapse {
  cursor: pointer;
  border-radius: 2px;
  bottom: 6px;
  position: absolute;
  left: 24px;
}
.colapse .btn-colapse span + span {
  display: none;
}
.icon-user-action {
  width: 46px;
  height: 46px;
  margin: auto;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4px;
  transition: 0.3s;
}
.dash-icon .icon-user-action + * {
  line-height: 17px;
  font-size: 14px;
  padding: 7px 0;
}
.icon-user-action.estado-de-cuenta {
  background-position: 6px center;
}
.icon-user-action.servicios-logisticos {
  background-position: -59px center;
}
.icon-user-action.comprobantes-de-las-transferencias {
  background-position: -124px center;
}
.icon-user-action.enviar-mensaje {
  background-position: -187px center;
}
.icon-user-action.localiza-tu-carga {
  background-position: -249px center;
}
.icon-user-action.encuesta-de-satisfacion {
  background-position: -315px center;
}
.icon-user-action.buzon-de-sugerencias {
  background-position: -379px center;
}
.icon-user-action.llamanos {
  background-position: -444px center;
}
.icon-user-action.escribenos {
  background-position: -508px center;
}
.col-btn:hover .dash-icon {
  -webkit-transform: scale(1.08);
  transform: scale(1.05);
  box-shadow: 0 0px 0px 4px rgb(0 123 255 / 20%);
  border-color: #0062cc;
}

.col-btn .dash-icon {
  transition: 0.2s;
  /* border: 0; */
  border-width: 2px;
  border-color: #efefef;
  box-shadow: 0 3px 10px -10px transparent;
}

.nav-main.colapse ul li > * {
  font-size: 0;
}
.nav-main.colapse {
  width: 80px;
}
.nav-main.colapse label {
  font-size: 0;
}

.content-main.colapse {
  left: 80px;
  width: calc(100% - 80px);
}
.nav-main.colapse ul li ul li > * {
  font-size: 12px;
}
.nav-main.colapse ul li ul {
  position: absolute;
  top: 30px;
  width: 160px;
  background: #fff;
  left: calc(100% + 0px);
  box-shadow: 0 2px 17px -10px #000;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2;
}

.nav-main.colapse ul li ul li a {
  padding: 10px 18px;
  margin: 0;
  font-size: 13px;
}

.colapse li.nav-item.has-child:after {
  left: inherit;
  right: -12px;
}
.colapse .btn-colapse .material-icons {
  transform: rotate(180deg);
}
.col:hover .dash-icon .icon-user-action {
  transform: scale(1.05);
}
.col-btn .dash-icon:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 30px;
  height: 4px;
  background: #1d2124;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 4px;
}
body .nav-main .nav-item .nav-item-content .nav-label,
body .nav-main .nav-item.active .nav-item-content .nav-label,
body .nav-main label,
li.nav-item.has-child:after {
  animation-name: inText;
  animation-duration: 0.5s;
}
@keyframes inText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer.fixed-bottom {
  left: 255px;
  z-index: 1;
}
footer.fixed-bottom.colapse {
  left: 80px;
}

.btn_menu_left {
  height: 42px;
}

.content-main .container,
.content-main .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.content-main .container {
  max-width: 990px;
}

figure.client-brand-logo {
  /* margin: 0 auto; */
  width: fit-content;
  height: 60px;
}
figure.client-brand-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure.client-brand-logo + figure.client-brand-logo {
  margin-left: -10px;
}
figure.client-brand-logo img {
  height: 100%;
  object-fit: contain;
}
.nav-tabs .nav-link {
  padding: 15px 20px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  position: relative;
  border: 0;
}

.nav-tabs .nav-item.show .nav-link:before,
.nav-tabs .nav-link.active:before {
  content: "";
  width: calc(100% - 40px);
  height: 4px;
  background: #1d2124;
  position: absolute;
  bottom: -1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
}

.tr_padding tr th:first-child,
.tr_padding tr td:first-child {
  padding-left: 20px;
}

.tr_padding tr th:last-child,
.tr_padding tr td:last-child {
  padding-right: 20px;
  width: 180px;
}

.pagination-table {
  width: fit-content;
  margin: auto;
}

.pagination-table .page-link {
  color: #1d2124;
  height: 40px;
  display: block;
  line-height: 24px;
}

.pagination-table .active .page-link {
  background: #1d2124;
  border-color: #1d2124;
}

.pagination-table .page-link:focus {
  box-shadow: 0 0 0 0.1rem rgb(29 33 36 / 25%);
}

a.btn.btn-link {
  color: #1d2124;
}

th.fit_content {
  width: fit-content;
}

.table .btn {
  height: 34px;
  padding: 4px 6px;
  margin-right: 5px;
}

.table .dropdown .btn {
  height: 26px !important;
}

body {
  background-color: #f9f9fa;
}

.padding {
  padding: 3rem !important;
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f29263),
    to(#ee5a6f)
  );
  background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.client-brand-logo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 3px solid #fff;
  overflow: hidden;
  float: left;
}
figure.client-brand-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figure.client-brand-logo + figure.client-brand-logo {
  margin-left: -10px !important;
}
ul.nav.nav-tabs.card-header-tabs.m-0 li a {
  cursor: pointer;
  transition: 0.3s;
}
ul.nav.nav-tabs.card-header-tabs.m-0:hover li:hover a {
  color: #004c10;
  opacity: 1;
  background: #fff;
}
ul.nav.nav-tabs.card-header-tabs.m-0:hover li a {
  opacity: 0.8;
  background: #f3f3f3;
  color: #333;
}
.suggestions {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  list-style: none;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
