body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  font-size: 15px;
}

/* login css */

.logo-login {
  max-width: 140px;
}

.form-login {
  margin: auto;
  max-width: 320px;
  width: 100%;
}

.form-login input {
  border: 2px solid rgb(0 0 0 / 0.1);
  height: 48px;
  position: relative;
}

.login-box {
  max-width: 460px;
  margin: auto;
}

.login-box .form-login .form-group:before {
  content: "";
  width: 4px;
  height: 26px;
  background: #90bd00;
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: 11px;
  left: -2px;
  border-radius: 4px;
}

.login-box .form-login .form-group {
  position: relative;
}

.link-login-box a {
  width: 110px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 16px;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: 0.3s;
  border-radius: 6px;
}

.link-login-box a:hover {
  box-shadow: 0 3px 14px -10px rgb(0 0 0 / 50%);
  transform: scale(1.05);
}

.link-login-box a:before {
  content: "";
  width: 26px;
  height: 4px;
  background: #90bd00;
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  right: 0;
  border-radius: 4px;
  margin: auto;
}

.link-login-box {
  max-width: fit-content;
}

.link-login-box a .material-icons {
  font-size: 40px;
  margin-bottom: 10px;
}

.form-login input:focus {
  border-color: rgb(18 53 116 / 79%);
  box-shadow: 0 0 0 2px #0d316f26;
}

/* auth css */

a,
a:hover {
  color: #092e6e;
  text-decoration: none;
}

.text-primary {
  color: #092e6e !important;
}

.text-dark {
  color: #374350 !important;
}

.bg-primary,
.btn-primary {
  background-color: #092e6e !important;
}

header {
  height: 80px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

header .container-fluid {
  padding-left: 24px;
  padding-right: 24px;
}

.header-logo {
  max-width: 85px;
}

img.photo-adaptable {
  object-fit: cover;
  object-position: center;
}

kt-mdmaincontainer > main {
  width: 100%;
  min-height: calc(100vh - 80px);
}

.user_photo {
  width: 50px;
  height: 50px;
  padding: 4px;
  background-image: url("assets/img/bg-avatar.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-main {
  width: max-content;
  max-width: 254px;
  top: 0;
  bottom: 0;
  height: 100%;
  border-right: 1px solid rgb(0 0 0 / 4%);
  display: block;
  padding: 30px 0;
  z-index: 2;
  background: #ffffff;
}

.nav-main ul {
  margin: 0;
  padding: 0;
}

.nav-main > ul {
  padding: 0 24px;
}

.nav-main ul li {
  list-style: none;
}

.nav-main ul li ul {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.nav-main label {
  padding: 12px 24px;
  margin: 0;
  font-size: 11px;
  letter-spacing: 0.8px;
  color: #a7a7a7;
}

li.nav-item {
  position: relative;
}

li.nav-item.active:before {
  position: absolute;
  content: "";
  width: 6px;
  background: #aadd36;
  height: 26px;
  border-radius: 4px;
  top: 8px;
  bottom: 0;
  left: -26px;
}

.nav-main .nav-item-content {
  color: #374350;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  -ms-flex-align: center !important;
  align-items: center !important;
  cursor: pointer;
}

.nav-main .nav-item .nav-item-content:hover,
.nav-main .nav-item.active .nav-item-content,
.nav-main .nav-item ul li a:hover {
  color: #0046a9;
  text-decoration: none;
}

.nav-main .nav-item-content .material-icons-outlined {
  margin-right: 10px;
  width: 24px;
}

li.nav-item.has-child:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid rgb(55 68 80 / 50%);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: 16px;
  bottom: 0;
  left: -10px;
  transform: rotate(-90deg);
}

li.nav-item.openNav.has-child:after {
  transform: rotate(0);
  top: 18px;
  left: -13px;
}

.nav-main ul li.openNav ul,
.nav-main ul li.active ul {
  opacity: 1;
  position: relative;
  visibility: visible;
}

.nav-main ul li ul li a {
  font-size: 14px;
  display: block;
  padding: 6px 0 6px 0px;
  margin-left: 46px;
  color: #374350;
}

.user_name .text-primary {
  letter-spacing: 0.3px;
}

header .header-title h1.h5 {
  font-size: 18px;
}

.user_name {
  font-weight: 500;
}

.content-main {
  left: 255px;
  top: 0;
  bottom: 0;
  height: 100%;
  border-right: 1px solid rgb(0 0 0 / 4%);
  display: block;
  padding: 30px 0 30px 0;
  right: 0;
  overflow: auto;
  width: calc(100% - 255px);
  z-index: 1;
  margin-bottom: 50px;
}

.btn-colapse {
  cursor: pointer;
  border-radius: 2px;
  bottom: 6px;
  position: absolute;
  left: 24px;
}

.colapse .btn-colapse span + span {
  display: none;
}

.icon-user-action {
  width: 46px;
  height: 46px;
  margin: auto;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4px;
  transition: 0.3s;
}

.icon-user-action + * {
  line-height: 17px;
  font-size: 14px;
  padding: 7px 0;
}

.icon-user-action.estado-de-cuenta {
  background-position: 6px center;
}

.icon-user-action.servicios-logisticos {
  background-position: -59px center;
}

.icon-user-action.comprobantes-de-las-transferencias {
  background-position: -124px center;
}

.icon-user-action.enviar-mensaje {
  background-position: -187px center;
}

.icon-user-action.localiza-tu-carga {
  background-position: -249px center;
}

.icon-user-action.encuesta-de-satisfacion {
  background-position: -315px center;
}

.icon-user-action.buzon-de-sugerencias {
  background-position: -379px center;
}

.icon-user-action.llamanos {
  background-position: -444px center;
}

.icon-user-action.escribenos {
  background-position: -508px center;
}

.col-btn:hover .dash-icon,
.btnActive {
  -webkit-transform: scale(1.08);
  transform: scale(1.05);
  box-shadow: 0 3px 10px -10px #000;
  border-color: #2fb50f;
}

.col-btn .dash-icon {
  transition: 0.2s;
  /* border: 0; */
  border-width: 2px;
  border-color: #efefef;
  box-shadow: 0 3px 10px -10px transparent;
}

.nav-main.colapse ul li > * {
  font-size: 0;
}

.nav-main.colapse {
  width: 80px;
}

.nav-main.colapse label {
  font-size: 0;
}

.content-main.colapse {
  left: 80px;
  width: calc(100% - 80px);
}

.nav-main.colapse ul li ul li > * {
  font-size: 12px;
}

.nav-main.colapse ul li ul {
  position: absolute;
  top: 30px;
  width: 160px;
  background: #fff;
  left: calc(100% + 0px);
  box-shadow: 0 2px 17px -10px #000;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2;
}

.nav-main.colapse ul li ul li a {
  padding: 10px 18px;
  margin: 0;
  font-size: 13px;
}

.colapse li.nav-item.has-child:after {
  left: inherit;
  right: -12px;
}

.colapse .btn-colapse .material-icons {
  transform: rotate(180deg);
}

.col:hover .dash-icon .icon-user-action {
  transform: scale(1.05);
  line-height: 17px;
  font-size: 14px;
  padding: 7px 0;
}

.col-btn .dash-icon:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 30px;
  height: 4px;
  background: #59bd45;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 4px;
}

body .nav-main .nav-item .nav-item-content .nav-label,
body .nav-main .nav-item.active .nav-item-content .nav-label,
body .nav-main label,
li.nav-item.has-child:after {
  animation-name: inText;
  animation-duration: 0.5s;
}

@keyframes inText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer.fixed-bottom {
  left: 255px;
  z-index: 1;
}

footer.fixed-bottom.colapse {
  left: 80px;
}

main .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.material-icons,
.material-icons-outlined {
  width: 25px;
}

.btn .material-icons-outlined,
.btn .material-icons {
  position: relative;
}

.btn.new_updates span:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #bd2130;
  position: absolute;
  right: -2px;
  top: -5px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #bd213021;
}

/* table css */

.content-table table {
  font-size: 14px;
  border-spacing: 0 2px;
  border-collapse: separate;
  border-bottom: 3px solid #dee2e6 !important;
  width: 100% !important;
}

.content-table table tbody tr {
  box-shadow: inset 4px 0 0 #092f6e;
  border-bottom: 2px solid #ebedef;
  background: #ffffff;
  word-spacing: 2px;
}

.content-table table tbody tr:hover {
  box-shadow: inset 4px 0 0 #092f6e, 0 1px 4px -2px #000, 0 0 0 1px #e2e2e2;
  z-index: 2;
}

.content-table table thead tr th {
  border: 0;
}

.content-table table tbody tr td,
.content-table table tbody tr th {
  vertical-align: inherit;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.table:not(.table-bordered) thead th,
.table:not(.table-bordered) thead td {
  font-weight: 600;
  font-size: 12px;
  background: #f3f4f5;
  vertical-align: inherit;
  padding: 5px 10px;
}

span.material-icons-two-tone.text-white {
  filter: invert(1);
}

/* Fin table */

/* Search */

/* .search-filter{max-width: 990px;} */

.search-filter input,
.search-filter input:focus,
.search-filter select:focus,
.search-filter select {
  outline-color: transparent !important;
  box-shadow: none;
  font-weight: 500;
  color: #444;
  height: 32px;
}

.search-filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

.search-filter input::placeholder {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #666;
}

.search-filter .col + .col {
  border-left: 1px solid #e2e2e2;
  padding-left: 20px;
}

/* fin search */

.step_request .col + .col > *:before {
  content: "";
  width: 40px;
  height: 40px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom-right-radius: 10px;
  transform: rotate(-45deg);
  left: -70px;
  position: absolute;
  top: 0;
  box-shadow: 5px 5px 20px -14px #002d77a6;
}

.step_request .col > *.active {
  color: #092f6e;
  /* border-bottom: 1px solid #092f6e; */
}

.step_request .col > * {
  position: relative;
  color: #868686;
  line-height: 28px;
}

.dataTables_wrapper {
  background: #fff;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  margin: 20px 16px 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.dataTables_info,
.dataTables_paginate {
  margin: 0 16px 20px 16px;
  font-size: 12px;
  text-transform: uppercase;
}

.dataTables_length select,
.dataTables_filter input {
  border: 1px solid #dee2e6;
  padding: 6px 10px;
  border-radius: 30px;
  outline: none;
  background: #fcfcfc;
  margin: 0 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #fff;
  border: 2px solid #dee2e6;
  border-radius: 10px;
}

td .btn {
  margin-left: 4px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.sted_tracking ul {
  margin: 0;
  padding: 0;
}

.sted_tracking ul li {
  width: 200px;
  list-style: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.step_icon {
  background-color: #159ab8;
  width: 70px;
  height: 70px;
  line-height: 90px;
  border: 4px solid #dae0e4;
  margin: 0 auto;
  background-image: url("assets/img/bg-texture-icon.jpg");
  background-position: center;
  background-size: cover;
}

.step_chek {
  padding: 20px 0;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  display: flex;
  -ms-flex-align: center !important;
  align-items: center !important;
  position: relative;
}

.step_chek:before {
  content: "";
  width: calc(100% - 7px);
  height: 6px;
  background: #dae0e5;
  position: absolute;
  left: calc(50% + 14px);
  border-radius: 4px;
}

.sted_tracking ul li:last-child .step_chek:before {
  display: none;
}

.complete .step_chek:before {
  background: #28a744;
}

.complete .step_icon {
  border-color: #ffffff5e;
  background: #28a744;
}

.select2-container {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.3rem + 2px);
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container span.select2-selection {
  margin: 0;
  height: 100%;
  padding: 5px;
  border: 0;
}

.search-filter .btn-success {
  max-height: 38px;
  display: flex;
}

/* buscador mmp */

.search-filter span.select2.select2-container.select2-container--default {
  border: 0;
  background: transparent;
}

.search-filter span.select2-selection.select2-selection--single {
  padding: 0;
  background: transparent !important;
  height: 32px;
  margin-top: 5px;
}

.search-filter .select2-selection__rendered {
  padding-left: 0 !important;
}

.search-filter
  span.select2.select2-container.select2-container--default.select2-container--below {
  background: transparent;
  border: 0;
  position: relative;
  z-index: 999;
  outline: none;
  box-shadow: none;
}

.btn-lg {
  line-height: 26px;
}

.iconBtn.iconBtnInactive,
.iconBtn.iconBtnActive {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  height: 150px;
  display: block;
  max-width: 150px;
  min-width: 150px;
}

.iconBtn.iconBtnInactive img,
.iconBtn.iconBtnActive img {
  width: 150px !important;
  height: 150px;
  border: 3px solid #0e3270;
  border-radius: 14px;
}

.iconBtn.iconBtnInactive:before,
.iconBtn.iconBtnActive:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid #0e3270;
  right: 10px;
  top: 10px;
  background: transparent;
}

.iconBtn.iconBtnActive:before {
  background: #81c241;
  box-shadow: inset 0 0 0 2px #fff;
  border-color: #81c241;
}

.complete .step_icon img {
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
  object-position: center;
}

.search-filter {
  height: 48px;
}

.search-filter label {
  top: -2px;
}

.btn-mobile {
  text-align: left;
  margin-right: 16px;
  border: 1px solid #ddd;
  padding: 6px;
  display: flex;
  border-radius: 4px;
  display: none;
  cursor: pointer;
}

.btn-mobile span {
  font-size: 28px !important;
  color: #0e3270;
  display: flex;
  text-align: center;
  width: 28px;
}

.sted_tracking {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.btn-success {
  color: #fff;
  background: #092e6e;
  border-color: #092e6e;
  color: #ffffff;
}

.btn {
  outline: none !important;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
}

ngb-accordion[_ngcontent-xjb-c7] button[_ngcontent-xjb-c7]:hover {
  background-color: #092e6e !important;
}

.btn.btn-link:focus,
.btn.btn-link:hover,
.btn.btn-link.active,
a.btn.btn-label:focus,
a.btn.btn-label:hover,
a.btn.btn-label.active,
button.btn.btn-label:focus,
button.btn.btn-label:hover,
button.btn.btn-label.active,
input.btn.btn-label:focus,
input.btn.btn-label:hover,
input.btn.btn-label.active {
  background-color: #092e6e !important;
  color: #ffffff;
}

.btn-link:hover {
  color: #092e6e;
  text-decoration: underline;
}

ngb-accordion[_ngcontent-xjb-c7]
  button[aria-expanded="true"][_ngcontent-xjb-c7] {
  background-color: #092e6e !important;
}

.complete .step_chek:before {
  background: #092e6e;
}

.step_chek:before {
  content: "";
  width: calc(100% - 7px);
  height: 2px;
  background: #dae0e5;
  position: absolute;
  left: calc(50% + 14px);
  border-radius: 4px;
}

.text-info {
  color: #092e6e !important;
}

.text-success {
  color: #90cd00 !important;
}

.complete .step_icon {
  border-color: transparent;
  background: #092e6e;
}

.step_icon {
  background-color: #092e6e;
  width: 70px;
  height: 70px;
  line-height: 66px;
  border: 3px solid transparent;
  margin: 0 auto;
}

.user_photo {
  width: 50px;
  height: 50px;
  padding: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}


